.ListExpense {
  padding: 0.4rem;
  margin: 0.6rem;
  height: 8rem;
  border: 1px solid purple;
  overflow-y: auto;
  border-radius: 10px;
}

.list-data {
  display: flex;
  justify-content: space-between;
}

.date {
  margin-left: 1.2rem;
}

.data-left {
  flex: 0.7;
}

.delete-right {
  flex: 0.3;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-right svg {
  height: 1.2rem;
  cursor: pointer;
}
