.ListExpense {
  padding: 0.2rem;
  margin: 0.2rem;
}

.transaction-type h2 {
  font-size: 1.2rem;
  flex: 0.3;
}

.list-data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.date {
  margin-left: 1.2rem;
}

.data-left {
  flex: 0.6;
}

.delete-right {
  flex: 0.1;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-right svg {
  height: 1.2rem;
  cursor: pointer;
}

.icon {
  height: 2rem;
}

/* Responsive */
@media only screen and (min-width: 720px) and (max-width: 1200px) {
  .list-data {
    font-size: 0.8rem;
  }

  .icon {
    height: 1.2rem;
  }
}
