.MainExpense {
  height: 32rem;
  background-color: white;
  width: 32%;
  border-radius: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding: 0.5rem;
}

.balance {
  text-align: center;
}

.balance h2 {
  display: inline-block;
  margin-bottom: 0.2rem;
}

.balance .price {
  margin: 5px;
}

.speechy-text {
  text-align: center;
  margin-bottom: 0.5rem;
}

.speechy-text > p {
  margin-bottom: 0.2rem;
}

.divider {
  margin: 0.5rem;
  height: 2px;
  background-color: purple;
}

.add-expenses {
  padding: 1rem;
}

.expense-form select {
  width: 10rem;
  height: 1.5rem;
  background-color: white;
  border-radius: 4px;
  color: purple;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 8px;
}

.form-data {
  display: flex;
  justify-content: space-between;
  margin-top: 0.8rem;
  flex-wrap: wrap;
}

input {
  outline: none;
  width: 10rem;
  height: 1.5rem;
  background-color: white;
  border-radius: 4px;
  color: purple;
  font-weight: 400;
  font-size: 15px;
  margin-top: 8px;
  padding: 0.2rem;
}

.btn {
  width: 100%;
  margin-top: 8px;
  height: 2rem;
  background-color: chartreuse;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 5px;
  border-radius: 5px;
}

.expense-data {
  height: 8rem;
  border: 1px solid purple;
  border-radius: 10px;
  overflow-y: auto;
}

/* Responsive */
@media only screen and (min-width: 720px) and (max-width: 1200px) {
  .balance {
    font-size: 0.8rem;
  }

  .form-data {
    flex-direction: column;
  }

  input {
    width: 100%;
  }

  .expense-form select {
    width: 100%;
  }

  .date {
    margin-left: 0;
  }

  .btn {
    padding: 2px;
    height: 1.5rem;
    font-size: 0.8rem;
  }

  .speechly-voice-text {
    height: 2rem;
    font-size: 0.8rem;
  }

  .expense-data {
    height: 6rem;
  }
}

@media only screen and (min-width: 300px) and (max-width: 720px) {
  .MainExpense {
    width: 80%;
    margin: 2rem 0;
  }

  .expense-data {
    height: 10rem;
  }
}

@media only screen and (min-width: 260px) and (max-width: 540px) {
  .form-data > div {
    width: 100%;
  }

  .form-data > div > select,
  input {
    width: 100%;
  }

  .date {
    margin-left: 0;
  }

  .btn {
    padding: 2px;
    height: 1.5rem;
    font-size: 0.8rem;
  }

  .MainExpense {
    height: 35rem;
    width: 80%;
  }

  .expense-data {
    height: 8rem;
  }

  .balance h2 {
    font-size: 1rem;
  }
}
