.spend-card {
  height: 28rem;
  background-color: white;
  width: 28%;
  border-radius: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding: 0.5rem;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin: 0.5rem;
}

.price {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 1rem;
}

.amount {
  font-size: 1.5rem;
  font-weight: 600;
  color: crimson;
}

.pie-chart {
  text-align: center;
}
