body {
  background: url("./assets/expenseBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
}
.cards-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
